name: Tests and deploy docs

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test-and-deploy-docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: "3.9"
    
    # Tests
    - name: Install poetry
      run: curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python

    - name: Generate requirements.txt
      run: $HOME/.poetry/bin/poetry export -f requirements.txt --without-hashes --dev --output requirements.txt

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Test with pytest
      run: pytest tests

    # Docs
    - name: Build documentation
      working-directory: ./docs
      run: make html

    - name: Deploy docs to GH Pages
      uses: JamesIves/github-pages-deploy-action@4.1.4
      with:
        branch: gh-pages # The branch the action should deploy to.
        folder: docs/_build/html # The folder the action should deploy.
